@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

.signup {
  &__form {
    &-input {
      font-size: $input-font-size;
    }
  }

  &__conditions {
    font-size: $conditions-font-size;
    @include link-decoration;
  }

  &__login {
    font-size: $login-font-size;
    @include link-decoration;
  }

  &__btn {
    font-size: $btn-font-size;
  }
}

fieldset {
  font-size: $fieldset-font-size;
}
