// Colors
// e0e0e0
// e6e6e6
$signup-background-color: rgba(64, 124, 255, 0.6);
$color-blue: #407bff;
$color-blue-dark: rgb(4, 69, 211);

// Button colors
$color-black: #000;
$color-grey-dark: #777;
$color-white: #fff;

// Sizes
$signup-width: 114rem;
$signup-height: 90vh;
$picture-width: clamp(30rem, 60rem, 90rem);
$picture-height: $picture-width * 2;

$input-border-bottom: 4rem;
