/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/main_background.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  width: 15rem;
  margin: 1rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.8);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white:after {
  background-color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.signup {
  display: flex;
  flex-direction: row;
  border: 1rem solid rgba(128, 128, 128, 0.5);
  border-radius: 1rem;
  max-width: 114rem;
  max-height: 90vh;
}
.signup__picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70rem;
  height: auto;
  flex: 1.5;
}
.signup__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.signup__container-title {
  font-size: 4.5rem;
  margin: 10rem 0 2rem 0;
}
.signup__form {
  display: flex;
  flex-direction: column;
}
.signup__form-input {
  background-color: transparent;
  font-size: 2.5rem;
  max-width: 40rem;
  border: 0;
  border-bottom: 0.4rem solid black;
}
.signup__form-input:focus {
  outline: none;
  border-bottom: 0.4rem solid green;
}
.signup__form-input:nth-child(-n+3) {
  margin-bottom: 4rem;
}
.signup__conditions {
  font-size: 1.5rem;
}
.signup__conditions-link {
  text-decoration: none;
  color: #407bff;
}
.signup__conditions-link:hover {
  color: rgb(4, 69, 211);
}
.signup__login {
  font-size: 1.7rem;
}
.signup__login-link {
  text-decoration: none;
  color: #407bff;
}
.signup__login-link:hover {
  color: rgb(4, 69, 211);
}
.signup__btn {
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
  body {
    min-width: none;
  }
  .signup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .signup__picture {
    width: 80rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .signup__container-title {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */