@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html,
body {
  height: 100%; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

ol,
ul,
menu {
  list-style: none; }

img {
  max-inline-size: 100%;
  max-block-size: 100%; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

:root {
  font-size: 10px; }

html {
  font-family: 'Popins', sans-serif; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  font-size: 2rem;
  z-index: 1; }

/* 
    Left side 
*/
#big_pic {
  min-height: 70vh;
  min-width: 40%;
  align-self: center; }

/*
    Right side
*/
#content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: #407bff;
  color: #eceae9;
  animation: moveUp 1s ease-out; }

#form_title {
  font-size: 5rem;
  align-self: flex-start;
  margin: 5rem; }

#form_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 1rem; }

/*
    Input styling
*/
.input_container {
  position: relative;
  margin: 3rem; }

span {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
  pointer-events: none;
  animation: moveInTop 1s ease-out 1s backwards; }

input {
  width: 30rem;
  background-color: #407bff;
  transition: all 0.5s;
  border: 2px solid #407bff;
  border-radius: 1rem;
  padding: 0.6rem; }

/*
  Button styling
*/
button {
  background-color: #e0e0e0;
  border: 1px solid black;
  border-radius: 15px;
  max-width: 25rem;
  margin: 3.5rem;
  padding: 1rem 2rem;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.338);
  transition: all 0.2s;
  animation: moveInRight 1s ease-out 2s backwards; }

/*
    Input effect
*/
.input_correct, input:focus,
input:valid {
  outline: none;
  border: 2px solid green;
  margin: 0px; }

.span_corret {
  background-color: green;
  border-radius: 1rem;
  transform: translateX(5px) translateY(-15px); }

.input_incorrect {
  outline: none;
  border: 2px solid #fa4e5ca1;
  margin: 0px; }

.span_incorrect {
  background-color: #fa4e5ca1;
  border-radius: 1rem;
  transform: translateX(5px) translateY(-15px); }

/*
    "Placeholder" effect
*/
input:valid ~ span,
input:focus ~ span {
  background-color: green;
  border-radius: 1rem;
  transform: translateX(5px) translateY(-15px); }

/*
    Button effects
*/
button:hover {
  transform: translateY(-5px); }

button:active {
  transform: translateY(-2px); }

.animated {
  animation: moveInRight 1s ease-in; }

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column; }
  #form_title {
    font-size: 4rem; }
  input {
    width: 25rem; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    transform: translateX(50px) translateY(50px); }
  100% {
    transform: translateX(0) translateY(0); } }
