fieldset {
  border: 0;
  font-size: 4rem;
}

legend {
  margin-left: -0.1rem;
}

.signup {
  display: flex;
  flex-direction: row;
  border: 1rem solid $color-signup-border;
  border-radius: 1rem;
  max-width: $signup-width;
  max-height: $signup-height;

  &__picture {
    object-fit: cover;
    width: $picture-width;
    height: auto;
    flex: 1.5;
    max-width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
  }

  &__form {
    display: flex;
    flex-direction: column;
    &-input {
      background-color: transparent;
      max-width: $input-width;
      // font-size: 2rem;
      margin-left: 0.1rem;
      border: 0;
      outline: none;
      border-bottom: 0.4rem solid black;

      &-active:valid {
        border-bottom: 0.4rem solid green;
      }
      &-active:invalid {
        border-bottom: 0.4rem solid red;
      }
      &:nth-child(n) {
        margin-bottom: $input-border-bottom;
      }
    }
  }
}
