.signup {
  display: flex;
  flex-direction: row;
  border: 1rem solid rgba(128, 128, 128, 0.5);
  border-radius: 1rem;
  max-width: $signup-width;
  max-height: $signup-height;

  &__picture {
    object-fit: cover;
    width: 70rem;
    height: auto;
    flex: 1.5;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;

    &-title {
      font-size: 4.5rem;
      margin: 10rem 0 2rem 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    &-input {
      background-color: transparent;
      font-size: 2.5rem;
      max-width: 40rem;
      border: 0;
      border-bottom: 1px solid black;

      &:nth-child(-n + 3) {
        margin-bottom: $input-border-bottom;
      }
    }
  }
  &__conditions {
    font-size: 1.3rem;
  }
}
